.current-issue-image .current-issue-image-title.middle-right{
    top:50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    bottom:auto;
}
.current-issue-image .current-issue-image-title.top-right{
    top:0.95238em;
    bottom:auto;
}
.current-issue-image .current-issue-image-title,
.current-issue-image a img{
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}
.current-issue-image a{
    display:block;
    position: relative;
}
.current-issue-image a:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom:0;
    background: rgba(0,168,160,.15);
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    opacity: 0;
}
.current-issue-image a:hover:after{
    opacity: 1;
}
.current-issue-image a:hover img{
    transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
}
.current-issue-image img{
    max-height: 470px;
}
@media (min-width: 1430px){
    .article_previews .article_preview.article_new .article_preview_header.show-1600{
        display: block;
        margin-left: -7px;
    }
}
@media (min-width: 1600px){
    .current-issue-image img{
        max-height: 470px;
    }
}
@media screen and (max-width: 1429px) and (min-width: 1200px) {
    .article_previews .article_preview.article_new .article_preview_body{
        padding:20px 15px 31px;
    }
}