.contact_form {
  h4 {
    .segoe-regular;
    color: @green;
    border-bottom: 1px solid @green;
    padding-bottom: 15px;
    font-size: 15px;
    margin: 0 25px 15px 0;
  }
  a {
    color: @textGrey;
    &:hover {
      color: @blue;
    }
  }
}

.contact-location {
  margin-bottom: 15px;
}

.contact-details {
  word-break: break-all;
}