#toggleArticles {
  margin-bottom: 15px;
  @media(min-width: @xl) {
    margin: 0;
  }
}

.currentIssueArticles,
.inEvidence {
  margin: 0 0 20px;
}

.article_previews {
  margin-top: 1.4285714em;

  .article_preview_top {
    border-bottom: 1px solid @textGrey;
    margin-bottom: 20px;

    h1 {
      font-size: 30px;
      margin: 0;
      padding-bottom: 15px;
    }
  }

  .article_row {
    margin: 0 0 25px;
  }

  .article_preview {
    margin-bottom: 25px;

    .article_preview_header {
      background: @grayLight;
      padding: 55px 10px 7px;

      p {
        margin: 0;
        font-size: 13px;
        text-transform: uppercase;
      }
    }

    .article_preview_body {
      padding: 20px 15px 20px 10px;
      min-height: 130px;

      p {
        font-size: 18px;
      }
    }

    .article_preview_footer {
      background: @grayLight;
      height: 40px;
      padding: 10px 15px 10px 5px;

      .read_more {
        float: right;
        font-size: 11px;
        color: @textGrey;
        padding-top: 2px;

        &:hover {
          color: @green;
        }
      }
    }

    &.research {
      .article_preview_header {
        border-top: 7px solid @green;
      }
    }

    &.in_practice {
      .article_preview_header {
        border-top: 7px solid @purple;
      }
    }

    &.perspectives {
      .article_preview_header {
        border-top: 7px solid @blue;
      }
    }

    &.brief_reports {
      .article_preview_header {
        border-top: 7px solid @blueLight;
      }
    }

    &.news_and_views {
      .article_preview_header {
        border-top: 7px solid @greenDark;
      }
    }

    &.online_early,
    &.online_first {
      .article_preview_header {
        border-top: 7px solid @grayMedium;
      }
    }

    &.featured_article {
      .article_preview_header {
        border-top: 7px solid @black;
      }
    }

    &.nsw_public_health_bulletin_archive {
      .article_preview_header {
        border-top: 7px solid @grayLighter;
      }
    }
    //@@BM
    &.article_new {
      background-color: @grayLight;
      margin-bottom: 0;
      border-left-width: 7px;
      border-left-style: solid;
      display: flex;
      flex-direction: column;
      position: relative;
      border-top: 0;
      height: 100%;

      &.light {
        background: #F6F6F6;
      }

      &:hover {
        background: rgba(@grayLight, 1%);
      }

      &.research {
        border-color: @green;

        &:hover {
          background: rgba(@green, 15%);
        }
      }

      &.in_practice {
        border-color: @purple;

        &:hover {
          background: rgba(@purple, 15%);
        }
      }

      &.perspectives {
        border-color: @blue;

        &:hover {
          background: rgba(@blue, 15%);
        }
      }

      &.brief_reports {
        border-color: @blueLight;

        &:hover {
          background: rgba(@blueLight, 15%);
        }
      }

      &.news_and_views {
        border-color: @greenDark;

        &:hover {
          background: rgba(@greenDark, 15%);
        }
      }

      &.online_early,
      &.online_first {
        border-color: @grayMedium;

        &:hover {
          background: rgba(@grayMedium, 15%);
        }
      }

      &.featured_article {
        border-color: @black;

        &:hover {
          background: rgba(@black, 15%);
        }
      }

      &.nsw_public_health_bulletin_archive {
        border-color: @grayLighter;

        &:hover {
          background: rgba(@grayLighter, 15%);
        }

        &.light {
          &:hover {
            background: rgba(@grayLighter, 30%);
          }
        }
      }

      .article_preview_header {
        order: 0;
        border: 0;
        padding: 0;
        border-top: 0;

        &.show-1600 {
          display: none;
          @media (min-width: 1600px) {
            display: block;
            margin-left: -7px;
          }
        }

        img {
          width: 100%;
          height: 10.35714em;
          object-fit: cover;
        }
      }

      .article_label {
        color: @blueNew;
        text-transform: uppercase;
        .segoe-bold;
        font-size: 0.85714em;
        order: 0;
        margin-bottom: 1.071428em;
      }

      .article_preview_body {
        order: 1;
        padding: 1.071428em 1.071428em 1.607142em;
        display: flex;
        flex-direction: column;
        min-height: initial;

        h3 {
          margin-top: 0;
          font-size: 1.142857em;
          order: 1;
          line-height: 1.125;
          margin-bottom: 0;

          a {
            color: @textGreyNew;

            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
            }
          }
        }
      }
    }
  }

  .btn-beige {
    p {
      margin-bottom: 0;
      padding: 10px 0;
      font-size: 15px;
    }
  }
}

.homepage-banner {
  position: relative;
  margin-bottom: 1.4285714em;

  h2 {
    margin: 0;
    @media (min-width:@md) {
      display: flex;
      align-items: center;
    }
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.714285em;
  }

  .homepage-banner-main,
  .homepage-banner-sideline {
    display: block;
    position: relative;

    &::after {
      @media (min-width:@md) {
        content: "";
        border-top: 21px solid transparent;
        border-bottom: 21px solid transparent;
        position: absolute;
        right: -16px;
        top: 0;
        z-index: 1;
      }
    }

    &::before {
      @media (min-width:@md) {
        content: "";
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 19px solid #fff;
        position: absolute;
        right: -19px;
        top: -4px;
        z-index: 1;
      }
    }
  }

  .homepage-banner-main {
    background: @blueNew;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0.416666em;
    @media (min-width:@md) {
      padding: 0.416666em 1.3333333em;
    }
    line-height: 0.9;

    &::after {
      @media (min-width:@md) {
        border-left: 16px solid @blueNew;
      }
    }
  }

  .homepage-banner-sideline {
    background: @greenNew;
    font-size: 0.833333em;
    padding: 0.5em;
    flex: 1;
    position: relative;
    //padding-right: 2.5em;
    color: inherit;
    @media (min-width:@md) {
      padding-left: 2em;
      //padding-right: 3.5em;
    }
    @media (min-width:@xl) {
      margin-right: -20px;
      padding-right: 2rem;
    }

    &::after {
      display: none;
      @media (min-width:@xl) {
        border-left: 16px solid @greenNew;
        display: block;
      }
    }

    &::before {
      display: none;
      @media (min-width:@xl) {
        display: block;
      }
    }
  }

  .issue-arrow {
    font-size: 1.571428em;
    color: @blueNew;
    position: absolute;
    margin-top: 0;
    right: 0.5em;
    top: 2.1em;
    @media (min-width:@md) {
      right: 1.42857em;
      top: 0.25em;
    }

    i {
      color: #fff;
    }
  }
}

.home-section-title {
  color: @blueNew;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 0.5em;
  border-bottom: 3px solid rgba(@blueNew, 20%);
  margin-bottom: 1em;
}

.in-evidence-box {
  height: 100%;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.09);
  position: relative;
  display: flex;
  flex-direction: column;

  img {transition: 0.3s transform;}


  &:hover {
    img {transform: scale(1.1);}

  }

  .in-evidence-text-box {
    padding: 1.071428em 1.071428em 1.428571em;
    flex: 1;
    display: grid;
    grid-template-rows: 1fr auto;
  }

  .in-evidence-img {
    overflow: hidden;
  }

  h3 {
    position: absolute;
    top: 0.95238em;
    left: 0;
    font-size: 1.5em;
    padding: 0.476190em 0.714285em;
    //text-transform: uppercase;
    margin: 0;
    font-weight: 800;
    background: @greenNew;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
  }

  img {
    width: 100%;
    height: 17.142857em;
    object-fit: cover;
  }

  p {
    color: @blueNew;
  }

  .in-evidence-text {
    font-size: 1.2857142em;
    margin-bottom: 1.11111111em;
  }

  .in-evidence-link {
    font-size: 0.8571428571428571em;
    margin-bottom: 0;
    text-align: right;

    a {
      color: inherit;
      .segoe-bold;
      text-transform: uppercase;
      display: inline-flex;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        content: "";
      }

      i {
        font-size: 1.454545em;
        margin-left: 5px;
      }
    }
  }
}
// #mostReadArticles > ul {
//   @media (min-width: @xl) {
//     position: relative;
//   }
//
//   &::after {
//     @media (min-width: @xl) {
//       content: "";
//       position: absolute;
//       top: 0;
//       left: -14px;
//       bottom: 0;
//       border-left: 1px solid rgba(#D6D6D6, 15%);
//     }
//   }
// }

.hr {
  @media (min-width: @xl) {
    position: relative;
  }

  &::after {
    @media (min-width: @xl) {
      content: "";
      position: absolute;
      top: 5.5em;
      right: -2px;
      bottom: 0;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}

.news-media {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;

  li {
    padding: 1.0714285em 1.0714285em 1.6071428em 0.53571425em;
    margin-bottom: 1.428571em;
    position: relative;

    &:hover {
      background: #F6F6F6;
    }

    &:last-child {
      margin: 0;
    }
  }

  h3 {
    color: @blueNew;
    font-size: 0.85714em;
    .segoe-bold;
    text-transform: uppercase;
    margin: 0 0 1.071428em;
    line-height: 1.42916;

    a {
      color: inherit;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        content: "";
      }
    }
  }

  p {
    margin-bottom: 0;
    font-size: 1.142857em;
    line-height: 1.125;
  }
}

.current-issue-image {
  overflow: hidden;
  position: relative;
  .current-issue-image-title{
    position: absolute;
    right: 0;
    bottom: .95238em;
    font-size: 1.5em;
    padding: .47619em .714285em;
    margin: 0;
    font-weight: 800;
    background: @blue;
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    z-index: 1;
    text-transform: uppercase;
  }
  &,
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.3s transform;
  }

  img {
    @media (min-width:1200px) {
      max-height: 23.14285em;
    }

    @media (min-width:1600px) {
      max-height: none;
    }
  }

  a {
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

.article_preview_icon {
  float: left;
  clear: right;

  li {
    float: left;

    a {
      background: @textGrey;
      padding: 3px 4px;
      color: @white;
      margin-right: 5px;

      i {
        width: 18px;
        height: 18px;
        text-align: center;
        font-size: 13px;

        &.fa-file-pdf-o {
          position: relative;
          top: -1px;
        }
      }

      &:hover {
        background: @green;
        color: @white;

        span {
          display: inline-block;
        }
      }

      span {
        font-size: 13px;
        display: none;
      }
    }
  }
}

.home {
  .footer_subscribe {
    margin-top: 2.8571428em;
  }
}
