@media print {
  a[href]:after {
    content: none !important;
  }

  img {
    max-width: 100% !important;
  }

  body {
    min-width: auto !important;
    width: 100%;
  }

  .navbar-header {
    img {
      height: auto;
    }
  }

  .navbar-header__right {
    padding-left: 15px;
    img {
      max-width: 214px !important;
    }
  }

  .container {
    width: 100% !important;
  }
}