#article_information {
  .article_title {
    @media(min-width: @xl) {
      width: 80%;
    }
  }
  #badges {
    .btn:hover  {
      cursor: default;
      &.btn-green {
        background: @green;
        color: @grayLight;
        &.outline {
          background: @white;
          color: @green;
        }
      }
      &.btn-blue {
        background: @blue;
        color: @grayLight;
        &.outline {
          background: @white;
          color: @blue;
        }
      }
      &.btn-purple {
        background: @purple;
        color: @grayLight;
        &.outline {
          background: @white;
          color: @purple;
        }
      }
      &.btn-greenDark {
        background: @greenDark;
        color: @white;
        &.outline {
          background: @white;
          color: @greenDark;
        }
      }
      &.btn-greenMediumDark {
        background: @greenMediumDark;
        color: @white;
        &.outline {
          background: @white;
          color: @greenMediumDark;
        }
      }
      &.btn-grayLighter {
        background: @grayLighter;
        color: #000000;
        &.outline {
          background: @white;
          color: @grayMedium;
        }
      }
    }
  }
  .author {
    color: @green;
  }
  .citation {
    .segoe-italic;
  }
}

.article_icons {
  @media(min-width: @xl) {
    float: right;
  }
  &__list-item {
    background: @grayLight;
    display: block;
    float: left;
    width: 70px;
    height: 70px;
    margin: 0 15px 5px 0;
    text-align: center;
    @media(min-width: @xl) {
      float: none;
      margin-right: 0;
    }
    &:hover {
      background: @green;
      a {
        color: @white;
      }
    }
  }
}

.article_icons__list-item {
  .xml_button {
    background: @grayLight;
    display: block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding: 0 18px;
    margin: 0;
    border: 0;
    color: @textGrey;
    i {
      padding-top: 5px;
      font-size: 25px;
      padding-bottom: 5px;
    }
    span {
      .segoe-bold;
      font-size: 12px;
    }
    &:hover {
      background: @green;
      color: @white;
    }
    &:focus, &:active {
      border: 0;
      outline: none;
    }
  }
  a {
    display: block;
    width: 70px;
    height: 70px;
    color: @textGrey;
    i {
      padding-top: 15px;
      font-size: 25px;
      padding-bottom: 5px;
    }
    p {
      .segoe-bold;
      font-size: 12px;
    }
  }
}

.article_icons .dropdown-menu {
  top: 68px;
  right: 15px;
  left: 15px;
  border: 0;
  padding: 0;
  margin: 0;
  li {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    background: @green;
    text-align: left;
    border-bottom: 1px solid @grayLight;
    &:last-child {
      border-bottom: 0;
    }

    button {
      background: none;
      border: 0;
      width: 100%;
      .segoe-regular;
      color: @white;
      height: auto;
      padding: 7px 5px;
      p {
        float: left;
        clear:right;
        background: none;
        padding: 0;
        .segoe-regular;
        font-size: 14px;
      }
      &:after {
        display: block;
        content: '\f105';
        font-family: 'FontAwesome';
        font-size: 15px;
        float: right;
        padding: 0;
        position: relative;
        top: -1px;
      }
      a {
        .segoe-regular;
        color: @white;
        width: auto;
        height: auto;
        padding: 7px 5px;
        p {
          float: left;
          clear:right;
          background: none;
          padding: 0;
          .segoe-regular;
          font-size: 14px;
        }
        &:after {
          display: block;
          content: '\f105';
          font-family: 'FontAwesome';
          font-size: 15px;
          float: right;
          padding: 0;
          position: relative;
          top: -1px;
        }
      }
    }
    p {
      color: @white;
      background: @greenMediumDark;
      padding: 15px 10px;
      margin: 0;
    }
    &:hover {
      background: @greenMediumDark;
      a {
        color: @white;
        background: @greenMediumDark;
      }
    }
  }
}

// ARTICLE SNIPPETS - SEARCH RESULTS
.article_snippet {
  background: @grayLight;
  padding: 15px 15px 25px 15px;
  margin-bottom: 25px;
  min-height: 115px;
  .article_snippet_body {
    margin: 0 0 15px;
    display: block;
    @media(min-width: @lg) {
      margin: 0;
    }
    h5 {
      text-transform: initial;
      font-size: 18px;
    }
    p {
      color: @textGrey;
      margin: 0 0 5px 0;
    }
    span {
      color: @green;
    }
  }
  .article_preview_icon {
    @media(min-width: @lg) {
      margin-top: 15px;
    }
    li {
      @media(min-width: @lg) {
        width: 100%;
      }
      a {
        background: none;
        padding: 0;
        &:hover {
          background: none;
          i {
            background: @green;
            color: @white;
            border: 1px solid @green;
          }
          span {
            color: @green;
          }
        }
        i {
          background: @white;
          border: 1px solid #CCCCCC;
          color: @grayMedium;
          width: 35px;
          height: 35px;
          position: relative;
          &:before {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 14px;
          }
        }
        span {
          color: @textGrey;
          top: -13px;
          left: 5px;
          position: relative;
          display: inline-block;
        }
      }
    }
  }
  &.research {
    border-left: 7px solid @green;
    &:hover {
      border-left: 7px solid @greenMediumDark;
    }
    .btn-green:hover {
      background: @white;
      color: @green;
    }
  }
  &.in_practice {
    border-left: 7px solid @purple;
    &:hover {
      border-left: 7px solid @purpleLight;
    }
    .btn-purple:hover {
      background: @white;
      color: @purple;
    }
  }
  &.perspectives {
    border-left: 7px solid @blue;
    &:hover {
      border-left: 7px solid @blueDark;
    }
    .btn-blue:hover {
      background: @white;
      color: @blue;
    }
  }
  &.brief_reports {
    border-left: 7px solid @blueLight;
    &:hover {
      border-left: 7px solid @blue;
    }
    .btn-blueLight:hover {
      background: @white;
      color: @blueLight;
    }
  }
  &.news_and_views{
    border-left: 7px solid @greenMediumDark;
    &:hover {
      border-left: 7px solid @green;
    }
    .btn-greenMediumDark:hover {
      background: @white;
      color: @greenMediumDark;
    }
  }
  &.online_first{
    border-left: 7px solid @textGrey;
    &:hover {
      border-left: 7px solid @grayMedium;
    }
    .btn-greyDark:hover {
      background: @white;
      color: @textGrey;
    }
  }
  &.featured_article{
    border-left: 7px solid @black;
    &:hover {
      border-left: 7px solid @textGrey;
    }
    .btn-greyDark:hover {
      background: @white;
      color: @textGrey;
    }
  }
  &.nsw_public_health_bulletin_archive{
    border-left: 7px solid @grayLighter;
    &:hover {
      border-left: 7px solid @grayMedium;
    }
    .btn-greyDark:hover {
      background: @white;
      color: @textGrey;
    }
  }
}