.breadcrumbs {
  padding-top: 15px;
  li {
    display: inline-block;
    &:after {
      content: '\f105';
      font-family: 'FontAwesome';
      font-size: 11px;
      padding: 0 7px;
    }
    &.current_item {
      a {
        color: @blue;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &:last-child {
      &:after {
        content: '';
      }
    }
    a {
      font-size: 12px;
      color: @textGrey;
      &:hover {
        color: @green;
      }
    }
  }
}