.btn {
  background:@white;
  padding:6px 25px;
  .border-radius(0);
  color:#f1f1f1;
  word-wrap:break-word;
  white-space: normal;
  &:hover, &:active, &:focus {
    color:#ffffff;
  }
  &.large {
    padding: 14px 25px;
  }
  &.xlarge {
    padding: 20px 35px;
  }
  &.btn-blue{
    background: @blue;
    &:hover {
      background:@blueDark;
    }
    &.outline {
      background: @white;
      border: 1px solid @blue;
      color: @blue;
      &:hover {
        background: @blue;
        color: @white;
      }
    }
  }
  &.btn-blueLight {
    background: @blue;
    &:hover {
      background:@blueDark;
    }
    &.outline {
      background: @white;
      border: 1px solid @blueLight;
      color: @blue;
      &:hover {
        background: @blueLight;
        color: @white;
      }
    }
  }
  &.btn-blueDark {
    background: @blueDark;
    &:hover {
      background: @blue;
    }
    &.outline {
      background: @white;
      border: 1px solid @blueDark;
      color: @blueDark;
      &:hover {
        background:@blueDark;
        color: @white;
      }
    }
  }
  &.btn-green {
    background: @green;
    &:hover {
      background:@greenMediumDark;
    }
    &.outline {
      background: @white;
      border: 1px solid @green;
      color: @green;
      &:hover {
        background: @green;
        color: @white;
      }
    }
  }
  &.btn-greenMediumDark {
    background: @greenMediumDark;
    &:hover {
      background:@green;
    }
    &.outline {
      background: @white;
      border: 1px solid @greenMediumDark;
      color: @greenMediumDark;
      &:hover {
        background: @greenMediumDark;
        color: @white;
      }
    }
  }
  &.btn-greenDark {
    background: @greenDark;
    &:hover {
      background:@green;
    }
    &.outline {
      background: @white;
      border: 1px solid @greenDark;
      color: @greenDark;
      &:hover {
        background: @greenDark;
        color: @white;
      }
    }
  }
  &.btn-beige {
    background: @grayLight;
    color: @green;
    &:hover {
      background:@green;
      color: @grayLight;
    }
  }
  &.btn-purple {
    background: @purple;
    &:hover {
      background:@purpleDark;
    }
    &.outline {
      background: @white;
      border: 1px solid @purple;
      color: @purple;
      &:hover {
        background: @purple;
        color: @white;
      }
    }
  }
  &.btn-greyDark {
    background: @textGrey;
    color: @white;
    &:hover {
      background:@grayMedium;
      color: @white;
    }
    &.outline {
      background: @white;
      border: 1px solid @textGrey;
      color: @textGrey;
      &:hover {
        background: @grayMedium;
        color: @white;
      }
    }
  }
  &.btn-grayLighter {
    background: @grayLighter;
    color: #000000;
    &:hover {
      background:@grayMedium;
      color: @white;
    }
    &.outline {
      background: @white;
      border: 1px solid @textGrey;
      color: @textGrey;
      &:hover {
        background: @grayMedium;
        color: @white;
      }
    }
  }
}