.carousel {
  margin: 0 -15px;
  @media(min-width: 768px) {
    margin: 0;
  }
}
.carousel-indicators {
  width: 59%;
  bottom: 0;
}
.carousel-control {
  &.left {
    background: none;
    i {
      font-size:65px;
      position: absolute;
      display: none;
      top: 42%;
    }
  }
  &.right {
    background: none;
    i {
      position: absolute;
      top: 42%;
      display: none;
      font-size:65px;
    }
  }
}