.footer_subscribe {
  background: @grayLight;
  padding: 1.0714285em 0;

  &__submit-paper {
    margin-bottom: 1.0714285em;
    @media (min-width: @lg) {
      margin-bottom: 0;
    }
  }

  .btn-blueLight {
    padding: 0;
    border: 0;
    margin: 0;
    position: relative;
    display: flex;

    .text {
      display: inline-block;
      text-align: left;
      .segoe-bold;
      padding: 0.357142em 0.357142em 0.357142em 1.0714285em;
      font-size: 1.28571428em;
      flex: 1;
    }

    .icon {
      background: rgba(266,266,266,0.3);
      height: 2.928571em;
      width: 3.428571em;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 1.28571428em;
      }
    }
  }

  h2 {
    color: @blueNew;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.285714em;
    margin: 0 0 0.7em;
  }
}

.newsletter_subscribe {
  position: relative;
  p {
    color: @green;
    .segoe-bold;
    margin: -2px 0 2px;
    font-size: 1.0714285em;
  }

  .newsletter-container {
    display: flex;

    .form-control {
      flex: 1;
      height: auto;
      font-size: 1.28571428em;
    }
  }

  .btn-green {
    height: 2.857142857em;
    width: 3.785714em;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 1.28571428em;
        background: rgba(@green, 20%);
      }
    }
  }

  .gform_wrapper {
    margin: 0;
    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
      border-radius: 0;
      background: #ffffff;
      box-shadow: none;
      padding: 6px 12px;
      line-height: 1.42857143;
      color: #555555;
      line-height: 1.42857143;
      color: #555555;
      display: block;
      width: 100%;
      border: 1px solid #ccc;
      margin: 0;
      font-size: 1.28571428em;
    }
  }

  .gform_wrapper ul.gform_fields li.gfield {
    padding-right: 0;
  }

  .gform_wrapper li.gfield.gfield_error {
    background: none;
    border: 0;
    padding: 0;
  }

  .ginput_container {
    margin: 0;
    margin-top: -3px !important;
    width: 100%;
    padding-right: 53px;
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .gform_heading,
  .validation_error
   {
    display: none;
  }

  .gform_wrapper .gform_footer {
    padding: 0;
    margin: 0;
  }

  .alert-success {
    font-size: 1.28571428em;
    border-color: @blue;
    background: #fff;
    color:@blue;
    padding: 8px 12px;
  }
}

.follow-twitter {
  display: flex;
  width: 100%;
  height: 2.92857142em;
  align-items: center;
  border: 1px solid rgba(@blue, 20%);
  color: @blue;

  span {
    flex: 1;
    display: block;
    align-items: center;
    display: flex;
    padding: 0 0.833333em;
    background: #fff;
    font-size: 1.28571428em;
    height: 100%;
  }

  .twitter-icon {
    flex: 0 0 2.6666666em;
    background: rgba(@blue, 20%);
    font-size: 1.28571428em;
    justify-content: center;

    i {
      font-size: 1.38888888em;
    }
  }

  &:hover {
    &,
    * {
      color: #fff;
      background: @blue;
    }
  }
}

.footer_topics {
  padding-bottom: 35px;

  h5 {
    padding: 10px 0 15px;
    text-transform: uppercase;
    color: @green;
    .segoe-bold;
    border-bottom: 1px solid @green;
    @media(min-width: @xl) {
      padding-top: 35px;
    }
  }

  ul {
    margin-bottom: 0;
    @media(min-width: @xl) {
      margin-bottom: 10px;
    }

    li {
      padding: 5px 0;
      font-size: 12px;
      .segoe-regular;

      a {
        color: @textGrey;

        &:hover {
          color: @green;
        }
      }
    }
  }
}

.footer {
  background: @white;
  border-top: 7px solid @grayLight;
  padding-bottom: 15px;

  h5 {
    .segoe-regular;
    font-size: 12px;
    padding-top: 5px;
  }

  &__text {
    font-size: 12px;
    padding-top: 15px;
    margin-bottom: 3px;
    text-align: center;
    @media(min-width: @xl) {
      float: right;
      text-align: right;
    }

    &:after {
      content: '';
      display: table;
      clear: both;
    }

    li {
      display: inline-block;
      padding: 0 8px;
      border-right: 1px solid @textGrey;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
        border-right: 0;
      }

      a {
        color: @blue;

        &:hover {
          color: @green;
        }
      }
    }
  }

  &__bottom {
    @media(min-width: @xl) {
      float: right;
    }
  }

  &__buttons {
    text-align: center;
    @media(min-width: @xl) {
      float: left;
    }
  }
}

.footer__copyright-text {
  text-align: center;
  @media(min-width: @xl) {
    float: left;
    text-align: right;
  }

  p {
    font-size: 12px;
    margin-bottom: 3px;
    line-height: 22px;
  }

  a {
    color: @blue;

    &:hover {
      color: @green;
    }
  }
}

.twitter-follow {
  display: inline-block;
  margin: 7px 0 0 14px;
  vertical-align: middle;
}

.creative-commons {
  display: inline-block;
  border-width: 0;
  padding-left: 15px;
  vertical-align: middle;

  img {
    margin-top: 5px;
    width: 96px;
  }
}
