.form-control {
  .border-radius(0);
  background:#ffffff;
  box-shadow:none;
  padding:6px 12px;
  &:focus {
    outline: 0;
    background: #f8f8f8;
    border:1px solid #c8c8c8;
    box-shadow:none;
  }
  &.light {
    background:#f4f4f4;
  }
}
.form-inline {
  .form-control {
    width:auto;
  }
}
.form_placeholder {
  position:absolute;
  left:50px;
  top:0px;
  font-size:24px;
}

label {
  font-size:15px;
  .required {
    color:@blue;
    font-size:18px;
    line-height:14px;
  }
}
.input-group-addon {
  padding:0;
  border:0;
  background:transparent;
  &.label_addon {
    padding:0 10px 0 0;
    border:0;
    background:transparent;
  }
}
.form-group {
  margin-bottom:20px;
  .form_error_input{
    border:1px solid @blue;
  }
}
.form_block {
  background:#f7f7f7;
  padding:30px 30px 20px;
}
label {
  .segoe-bold;
  font-size:15px;
}

form {
  .submit {
    text-align:right;
    margin-top:20px;
    .btn {
      font-size:17px;
      padding:8px 22px;
    }
  }
}
textarea.form-control {
  height:180px;
}

.button-holder {
  .radio-holder {
    display: inline-block;
    min-width: 160px;
    .segoe-regular;
    color: @textGrey;
  }
  .checkbox-holder {
    display: inline-block;
    min-width: 160px;
    .segoe-regular;
    margin-right: 15px;
    label {
      color: @textGrey;
    }
  }
}