.current_issue {
  h1 {
    @media(min-width: @xl) {
      margin-bottom: 20px;
    }
  }
  h2 {
    border-bottom: 1px solid @textGrey;
    .segoe-regular;
    padding-bottom: 25px;
    margin-bottom: 30px;
    &.research {
      color: @green;
    }
    &.in_practice {
      color: @purple;
    }
    &.perspectives {
      color: @blue;
    }
    &.brief_reports {
      color: @blueLight;
    }
    &.news_and_views {
      color: @greenDark;
    }
    &.featured_article{
      color: @black;
    }
    &.nsw_public_health_bulletin {
      color: @grayMedium;
    }
    @media(min-width: @xl) {
      padding-top: 55px;
    }
  }
  .article_snippet {
    background: @white;
    padding: 10px 15px 15px;
    &:hover {
      background: @grayLight;
    }
    .read_more {
      color: @textGrey;
      text-decoration: underline;
      &:hover {
        color: @green;
      }
    }
  }
}