.header {
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
  @media(min-width: @md) {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .container {
    &:after {
      content: '';
      clear: both;
      display: table;
    }
  }
  .logo {
    @media(min-width: @md) {
      float: left;
      clear: right;
    }
    img {
      max-width: 350px;
      height: auto;
      margin: 30px 0;
    }
  }
  .advanced_search {
    position: absolute;
    right: 15px;
    bottom: 7px;
    color: @textGrey;
    font-size: 14px;
    &:hover {
      color: @green;
    }
  }
  &__branding {
    float: left;
    width: 60%;
  }
  &__right {
    width: 40%;
    float: right;
    padding: 35px 0 0 15px;
    text-align: right;
    a {
      display: inline-block;
    }
    img {
      display: block;
      height: auto;
      max-width: 164px;
      width: 100%;
    }
  }
}

.navbar-default {
  background-color: @grayLight;
  border-color: @grayLight;
  margin-bottom: 0;
  .navbar-nav {
    > li {
      &:first-child {
        a {
          @media(min-width: @xl) {
            padding-left: 0;
          }
        }
      }
      > a {
        text-transform: uppercase;
        .segoe-regular;
        padding: 15px 20px;
        &:hover {
          color: @green;
        }
      }
    }
    > .active {
      > a {
        background-color: @grayLight;
        color: @blue;
        &:hover {
          background-color: @grayLight;
          color: @green;
        }
      }
    }
    .open {
      > a{
        background-color: @grayLight;
        color: @green;
        &:hover, &:focus {
          background-color: @grayLight;
          color: @green;
        }
      }
    }
  }
  .dropdown-menu {
    min-width: 250px;
    .border-radius(0);
    border: 0;
    font-size: 15px;
    padding: 0;
    //        -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .175);
    //        box-shadow: 0 0px 0px rgba(0, 0, 0, .175);
    > li {
      > a {
        padding: 9px 25px;
        border-top: 2px solid @grayLight;
        &:hover {
          background: @green;
          color: @white;
        }
      }
    }
  }
}

.navbar-nav {
  @media(min-width: @md) {
    margin-left: -15px;
  }
  &> li {
    @media(min-width: @md) {
      float: none;
    }
    @media(min-width: @xl) {
      float: left;
    }
  }
}

.navbar-form {
  float: left;
  border: 0;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;

  @media(min-width: @md) {
    padding: 0;
  }

  .form-group {
    margin-right: 30px;
    width: 100%;
    ::-webkit-input-placeholder {
      color: @green;
      .segoe-bold;
    }
    :-moz-placeholder {
      color:  @green;
      .segoe-bold;
    }
    ::-moz-placeholder {
      color:  @green;
      .segoe-bold;
    }
    :-ms-input-placeholder {
      color:  @green;.segoe-bold;
    }
    > input {
      width: 100%;
    }
  }
  .btn-green {
    padding: 6px 10px;
    top: 0;
    right: 1px;
    position: absolute;
  }
}

// Custom breakpoint for mobile menu on larger viewports
// Since there are many menu items, we want to display
// the mobile menu during a larger breakpoint change
@media (max-width: @xl) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid #888;
    box-shadow: 0 0 0;
    max-height: none;
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
    margin-right: -15px;
    margin-left: -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
  .navbar-form {
    padding-bottom: 15px;
    &.navbar-right:last-child {
      margin-right: 0;
    }
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
}
