.page-nav {
  .pagination-container {
    text-align: center;
    margin-bottom: 15px;
    .pagination {
      li {
        &.active {
          > span {
            background-color: @green;
            color: @white;
            border-color: @green;
          }
        }
        > a {
          color: @textGrey;
          .segoe-bold;
          padding: 12px 19px;
        }
        > span {
          padding: 12px 19px;
          color: @textGrey;
          .segoe-bold;
        }
      }
    }
  }
}