.panel-group {
  .panel {
    border-color: @white;
    border: 0;
    .border-radius(0px);
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
    box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
    .panel-heading {
      padding: 20px 34px;
      margin-top: 25px;
      border-left: 7px solid @green;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      background-color: @grayLight;
      &:hover {
        border-left: 7px solid @blue;
        h4 {
          color: @blue;
          &:after {
            background: @blue;
          }
        }
      }
      + .panel-collapse {
        > .panel-body {
          border-top-color: @white;
          border-top: 0px;
        }
      }
      .panel-title {
        position: relative;
        .segoe-regular;
        font-size: 23px;
        color: @textGrey;
        letter-spacing: -0.3px;
        &.heading-expanded:after {
          content: "\f068";
          font-family: 'FontAwesome';
          background: @green;
          color: @white;
          position: absolute;
          right: -34px;
          padding: 19px 22px 18px;
          top: -19px;
          font-size: 25px;
        }
        &.heading-collapsed:after {
          content: "\f067";
          font-family: 'FontAwesome';
          background: @green;
          color: @white;
          position: absolute;
          right: -34px;
          padding: 19px 22px 18px;
          top: -19px;
          font-size: 25px;
        }
      }
    }
    .panel-body {
      h4 {
        color: @textGrey;
        font-size: 14px;
        .segoe-bold;
      }
      .panel_body_section {
        margin-bottom: 15px;
        border-bottom: 2px solid @grayLight;
        &.last {
          border-bottom: 0;
        }
      }
      // TABLES
      table {
        width: 100%;
        tr {
          td {

            border-top: 1px solid @green;
            color: @green;
            .segoe-regular;
            font-size: 14px;
            span {
              color: @green !important;
              .segoe-regular
              !important;
              font-size: 14px !important;
            }

          }
        }

        &> thead {
          tr {
            td {
              background: @green;
              color: @white;
              .segoe-bold;
              font-size: 14px;
            }
            th {
              color: @black;
              .segoe-bold;
            }
          }
        }
        &> tbody:first-child {
          /** for tables copied from word there isn't a thead element **/

          border-bottom: 1px solid @grayLight;

          tr:nth-child(2) {
            border-top: 2px solid #dddddd;
          }
          tr:first-child {

            td {

              border-top: none;
              border-bottom: none;

              span {
                .segoe-bold
                !important;
                font-size: 14px !important;
                color: @black !important;

              }
            }

          }

        }
      }
    }
    #abstract {
      border-top: 1px solid #CCCCCC;
      .panel-body {
        background: @grayLight;
        border-left: 7px solid @green;
      }
    }
    #references {
      ul {
        list-style-type: none;
        li {
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    #other_articles{
      .other_article_single {
        background: @grayLight;
        display: block;
        padding: 15px;
        margin-bottom: 15px;
        position: relative;
        .other_article_text {
          h5 {
            text-transform: initial;
            margin: 0 0 5px 0;
          }
          p {
            color: @textGrey;
            margin: 0;
          }
        }
        .btn-blue {
          position: absolute;
          right: 15px;
          top: 12px;
          padding: 4px 14px;
          i {
            font-size: 35px;
          }
        }
        &:hover {
          h5, p {
            color: @blue;
          }
          .btn-blue {
            background: @white;
            border: 1px solid @blue;
            i {
              color: @blue;
            }
          }
        }
      }
    }
  }
}

.panel {
  img {
    max-width: 100%;
    height: auto;
  }
}