.tile {
  .tile_header {
    background: @green;
    padding: 18px 0 18px 15px;
    position: relative;
    h3 {
      font-size: 22px;
      color: @white;
      margin: 0;
    }
    span {
      position: absolute;
      background: rgba(266,266,266,0.3);
      right: 0;
      top: 0;
      width: 60px;
      height: 60px;
      i {
        color: @white;
        position: relative;
        top: 15px;
        left: 26px;
        font-size: 30px;
      }
    }
  }
  .tile_body {
    background: @grayLight;
    padding: 15px;
    margin-bottom: 30px;
    color: @textGrey;
    min-height: 170px;
    p {
      margin-bottom: 0;
    }
  }

  &:hover {
    .tile_header {
      background: @greenMediumDark;
    }
  }
}