.tooltip {
  .tooltip-inner {
    background: @white;
    border: 1px solid #CCCCCC;
    color: @textGrey;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  &.left {
    margin-left: -14px;
    .tooltip-arrow {
      border: none;
    }
  }
}

.tooltip.left {
  z-index:10000;
  border-color: transparent;
  border-style: solid;
  .tooltip-arrow:before {
    content:'\f0da';
    font-family: 'FontAwesome';
    display: block;
    font-size:19px;
    position: absolute;
    color: @white;
    right: 0;
    margin-top: -5px;
  }
  .tooltip-arrow:after {
    content:'\f0da';
    font-family: 'FontAwesome';
    display: block;
    font-size:27px;
    position: absolute;
    color: @grayMedium;
    right: -1px;
    margin-top: -11px;
    z-index: -1;
  }


  .search-header-text{
    color: #37bbf2;
  }


}


.search-header-text{
  color: #37bbf2;
}