// CHECKBOXES (cpntainer)
.checkbox-holder{
    margin:0 0 15px 0;
    label{
        color:#000000;
        font-weight:500;
    }
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding: 6px 0 0 30px;
    cursor: pointer;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0;
    top: 7px;
    width: 22px;
    height: 22px;
    border: 2px solid #aaaaaa;
    background: transparent;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    position: absolute;
    top: 7px;
    left: 4px;
    font-size: 15px;
    color: @blue;
    transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
[type="checkbox"]:disabled + label {
    color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 2px solid #888888;
}



// RADIOS (the container)
.button-holder{
    margin:0 20px 0 0;
    &.no_label {
        margin:0;
        padding:0;
        label {
            margin:0;
            padding:0;
        }
        [type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
            padding:0;
            margin:0;
            &:before {
                top:-14px;
            }
            &:after {
                top:-16px;
            }
        }
    }
}



/* Base for label styling */
[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    left: -9999px;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    position: relative;
    padding: 6px 0 0 38px;
    cursor: pointer;
    margin-left: -7px;
}
/* radio aspect */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 6px;
    width: 25px;
    height: 25px;
    border: 2px solid #a6a6a6;
    background: transparent;
    .border-radius(13px);
}
/* checked mark aspect */
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 12px;
    transition: all .2s;
    background: @blue;
    .border-radius(9px);
    width: 13px;
    height: 13px;
}
/* checked mark aspect changes */
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="radio"]:disabled:checked + label:after {
    color: #999;
}
[type="radio"]:disabled + label {
    color: #aaa;
}

/* accessibility */
[type="radio"]:checked:focus + label:before,
[type="radio"]:not(:checked):focus + label:before {
    border: 2px solid #a6a6a6;
}