@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE10+ specific styles go here */

    .table {
        &.supplier {
            margin-bottom:20px;
            &.table-bordered > thead > tr > th, &.table-bordered > thead > tr > td {
                &.total_column {
                    right:0;
                    border-bottom:1px solid #dddddd;
                    height:44px;
                }
                &.council_column {
                    border-bottom:1px solid #dddddd;
                    height:44px;
                }
            }
            .total_column {
                margin-top:-1px;
                width:10.4%;
                max-width:10.4%;
                display:block;
                right:0;
                &.border_top {
                    margin-top:0;
                    span {
                        border-top:1px solid transparent;
                        height:54px;
                    }
                }
                &.border_bottom {
                    span {
                        border-bottom:1px solid transparent;
                        height:53px;
                    }
                }
                span {
                    display: table-cell;
                    vertical-align:middle;
                    min-height:52px;
                    padding:8px;
                    z-index: 1;
                    width:100%;
                }
            }
            .council_column {
                margin-left:-1px;
                margin-top:-1px;
                display:block;
                padding:0;
                &.border_top {
                    margin-top:0;
                    span {
                        border-top:1px solid transparent;
                        height:54px;
                    }
                }
                &.border_bottom {
                    span {
                        border-bottom:1px solid #dddddd;
                        height:53px;
                    }
                }
                span {
                    display: table-cell;
                    vertical-align:middle;
                    padding:8px;
                    min-height:52px;
                    z-index: 1;
                    width:100%;
                }
            }
            td:first-child {
                .council_column {
                    border-top:1px solid #dddddd;
                }
            }
            th.council_column {
                span {
                    height:43px;
                    min-height:43px;
                    z-index: 2;
                }
            }
            th.total_column {
                span {
                    min-height:43px;
                    z-index: 2;
                }
            }

        }
    }
}