.sidebar.map {
    .nav-tabs {
        right: -40px;
        height: 600px;
        overflow: hidden;
        padding: 10px 0 0;
        position: absolute;
        top: 0;
        width: 40px;
        li {
            a {
                width:40px;
                padding:0;
                text-indent:-9999px;
                margin-bottom:5px;
                &.categories {
                    background:url('../img/map/tab_categories.png') no-repeat left top transparent;
                    height:169px;
                }
                &.list {
                    background:url('../img/map/tab_list.png') no-repeat left top transparent;
                    height:99px;
                }
                &.search {
                    background:url('../img/map/tab_search.png') no-repeat left top transparent;
                    height:126px;
                }
                &:hover {
                    &.categories {
                        background:url('../img/map/tab_categories_hover.png') no-repeat left top transparent;
                    }
                    &.list {
                        background:url('../img/map/tab_list_hover.png') no-repeat left top transparent;
                    }
                    &.search {
                        background:url('../img/map/tab_search_hover.png') no-repeat left top transparent;
                    }
                }
            }
            &.active {
                a {
                    &.categories {
                        background:url('../img/map/tab_categories_active.png') no-repeat left top transparent;
                    }
                    &.list {
                        background:url('../img/map/tab_list_active.png') no-repeat left top transparent;
                    }
                    &.search {
                        background:url('../img/map/tab_search_active.png') no-repeat left top transparent;
                    }
                }
            }
        }
    }
}