@media (max-width:400px) {
    body, html {
        height:100%;
        background:url('/facilitators_guide/img/bg.png') no-repeat left top #eeeeee;
        background-size: 1024px 768px;
    }
    #slides {
        height:236px !important;
        img {
            width:130% !important;
            height:auto !important;
            top:0 !important;
        }
    }
}
