::selection {
  background: #0000ff;
  color: #FFFFFF;
}
::-moz-selection {
  background: #0000ff;
  color: #FFFFFF;
}
.border-dashed {
  border-bottom: 1px dashed #5a5a5d;
}
.border-dashed-top {
  border-top: 1px dashed #5a5a5d;
}
.border-dashed-bottom {
  border-bottom: 1px dashed #5a5a5d;
}
.border-dashed-right {
  border-right: 1px dashed #5a5a5d;
}
@font-face {
  font-family: 'SegoeLight';
  src: url('/fonts/segoeuil-webfont.eot');
  src: url('/fonts/segoeuil-webfont.eot') format('embedded-opentype'), url('/fonts/segoeuil-webfont.woff') format('woff'), url('/fonts/segoeuil-webfont.ttf') format('truetype'), url('/fonts/segoeuil-webfont.svg#segoe_uiregula') format('svg');
}
@font-face {
  font-family: 'SegoeRegular';
  src: url('/fonts/segoeui-webfont.eot');
  src: url('/fonts/segoeui-webfont.eot') format('embedded-opentype'), url('/fonts/segoeui-webfont.woff') format('woff'), url('/fonts/segoeui-webfont.ttf') format('truetype'), url('/fonts/segoeui-webfont.svg#segoe_uiregula') format('svg');
}
@font-face {
  font-family: 'SegoeBold';
  src: url('/fonts/segoeuib-webfont.eot');
  src: url('/fonts/segoeuib-webfont.eot') format('embedded-opentype'), url('/fonts/segoeuib-webfont.woff') format('woff'), url('/fonts/segoeuib-webfont.ttf') format('truetype'), url('/fonts/segoeuib-webfont.svg#DINOTBold') format('svg');
}
@font-face {
  font-family: 'SegoeItalic';
  src: url('/fonts/segoeuii-webfont.eot');
  src: url('/fonts/segoeuii-webfont.eot') format('embedded-opentype'), url('/fonts/segoeuii-webfont.woff') format('woff'), url('/fonts/segoeuii-webfont.ttf') format('truetype'), url('/fonts/segoeuii-webfont.svg#DINOTBlack') format('svg');
}
/* Border Radius */
.retina-tile {
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.background-size {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.segoe-light {
  font-family: 'SegoeLight', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.segoe-regular {
  font-family: 'SegoeRegular', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.segoe-bold {
  font-family: 'SegoeBold', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.segoe-italic {
  font-family: 'SegoeItalic', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}
h1 {
  font-size: 44px;
  font-family: 'SegoeLight', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}
h2 {
  font-size: 30px;
  font-family: 'SegoeLight', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}
h3 {
  font-size: 18px;
  font-family: 'SegoeLight', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}
h4 {
  color: #26aae1;
  font-family: 'SegoeRegular', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
h5 {
  color: #5a5a5d;
  font-family: 'SegoeRegular', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}
strong {
  font-family: 'SegoeBold', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}
body {
  font-family: 'SegoeRegular', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}
body,
input,
textarea,
button {
  color: #5a5a5d;
  font-size: 15px;
}
a {
  color: #00a8a0;
}
a:hover,
a:focus {
  color: #37bbf2;
  text-decoration: none;
}
body,
html {
  height: 100%;
  min-height: 100%;
  background-size: 100% 100%;
}
.wrapper {
  position: relative;
}
.nopadding {
  padding: 0;
}
.nomargin {
  margin: 0;
}
.btn {
  background: #ffffff;
  padding: 6px 7px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #f1f1f1;
  word-wrap: break-word;
  white-space: normal;
}
.btn:hover,
.btn:active,
.btn:focus {
  color: #ffffff;
}
.btn.btn-small {
  font-size: 11px;
}
.btn.btn-medium {
  padding: 11px 30px;
}
.btn.btn-large {
  font-size: 16px;
  padding: 12px 30px;
}
.btn.btn-xlarge {
  padding: 22px 30px;
}
.btn.btn-blueLight {
  background: #26aae1;
}
.btn.btn-blueLight:hover {
  background: #17769d;
}
.btn.btn-green {
  background: #00a8a0;
}
.btn.btn-green:hover {
  background: #005257;
}
.btn.btn-beige {
  background: #f3f2ee;
  color: #00a8a0;
}
.btn.btn-beige:hover {
  background: #00a8a0;
  color: #f3f2ee;
}
.form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #ffffff;
  box-shadow: none;
  padding: 6px 12px;
}
.form-control:focus {
  outline: 0;
  background: #f8f8f8;
  border: 1px solid #c8c8c8;
  box-shadow: none;
}
.form-control.light {
  background: #f4f4f4;
}
.form-inline .form-control {
  width: auto;
}
.form_placeholder {
  position: absolute;
  left: 50px;
  top: 0px;
  font-size: 24px;
}
label {
  font-size: 15px;
}
label .required {
  color: #0000ff;
  font-size: 18px;
  line-height: 14px;
}
.input-group-addon {
  padding: 0;
  border: 0;
  background: transparent;
}
.input-group-addon.label_addon {
  padding: 0 10px 0 0;
  border: 0;
  background: transparent;
}
.form-group {
  margin-bottom: 20px;
}
.form-group .form_error_input {
  border: 1px solid #0000ff;
}
.form_block {
  background: #f7f7f7;
  padding: 30px 30px 20px;
}
label {
  font-weight: normal;
  font-size: 15px;
}
form .submit {
  text-align: right;
  margin-top: 20px;
}
form .submit .btn {
  font-size: 17px;
  padding: 8px 22px;
}
textarea.form-control {
  height: 180px;
}
.navbar-header {
  position: relative;
}
.navbar-header .logo {
  float: left;
  clear: right;
}
.navbar-header .logo img {
  margin: 55px 0;
}
.navbar-header .advanced_search {
  position: absolute;
  right: 31px;
  bottom: 7px;
  color: #5a5a5d;
  font-size: 14px;
}
.navbar-header .advanced_search:hover {
  color: #00a8a0;
}
.navbar-default {
  background-color: #f3f2ee;
  border-color: #f3f2ee;
  margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  font-family: 'SegoeRegular', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 15px 29px;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #00a8a0;
}
.navbar-default .navbar-nav > .active > a {
  background-color: #f3f2ee;
  color: #00a8a0;
}
.navbar-default .navbar-nav > .active > a:hover {
  background-color: #f3f2ee;
  color: #26aae1;
}
.navbar-default .navbar-nav .open > a {
  background-color: #f3f2ee;
  color: #00a8a0;
}
.navbar-default .navbar-nav .open > a:hover,
.navbar-default .navbar-nav .open > a:focus {
  background-color: #f3f2ee;
  color: #00a8a0;
}
.navbar-default .dropdown-menu {
  min-width: 250px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  font-size: 15px;
  padding: 0;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.175);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.175);
}
.navbar-default .dropdown-menu > li > a {
  padding: 9px 25px;
  border-top: 2px solid #f3f2ee;
}
.navbar-default .dropdown-menu > li > a:hover {
  background: #00a8a0;
  color: #ffffff;
}
.navbar-default .navbar-form .form-group {
  margin-right: -5px;
}
.navbar-default .navbar-form .form-group ::-webkit-input-placeholder {
  color: #00a8a0;
  font-family: 'SegoeBold', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.navbar-default .navbar-form .form-group :-moz-placeholder {
  color: #00a8a0;
  font-family: 'SegoeBold', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.navbar-default .navbar-form .form-group ::-moz-placeholder {
  color: #00a8a0;
  font-family: 'SegoeBold', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.navbar-default .navbar-form .form-group :-ms-input-placeholder {
  color: #00a8a0;
  font-family: 'SegoeBold', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.navbar-default .navbar-form .btn-green {
  width: 36px;
}
.footer_subscribe {
  background: #f3f2ee;
  padding: 15px 0;
}
.footer_subscribe .btn-blueLight {
  padding: 0;
  border: 0;
  margin: 0;
  position: relative;
}
.footer_subscribe .btn-blueLight .text {
  display: inline-block;
  text-align: left;
  height: 55px;
  width: 98%;
}
.footer_subscribe .btn-blueLight .text p {
  position: relative;
  top: 15px;
  left: 10px;
  font-family: 'SegoeBold', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
}
.footer_subscribe .btn-blueLight .icon {
  background: rgba(255, 255, 255, 0.3);
  height: 55px;
  width: 57px;
  position: absolute;
  right: 0;
}
.footer_subscribe .btn-blueLight .icon i {
  font-size: 25px;
  position: relative;
  top: 15px;
}
.footer_subscribe .newsletter_subscribe p {
  color: #00a8a0;
  font-family: 'SegoeBold', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: -2px 0 2px 0;
  font-size: 14px;
}
.footer_subscribe .newsletter_subscribe .row .col-xs-8 {
  padding-right: 0;
}
.footer_subscribe .newsletter_subscribe .row .col-xs-4 {
  padding-left: 0;
}
.footer_subscribe .newsletter_subscribe .row .col-xs-4 .btn-green {
  height: 34px;
}
.footer_subscribe .newsletter_subscribe .row .col-xs-4 .btn-green .text {
  font-family: 'SegoeBold', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  left: 10px;
}
.footer_subscribe .newsletter_subscribe .row .col-xs-4 .btn-green .icon {
  background: rgba(255, 255, 255, 0.3);
  height: 34px;
  width: 34px;
  position: absolute;
  right: 15px;
  top: 0;
}
.footer_subscribe .newsletter_subscribe .row .col-xs-4 .btn-green .icon i {
  position: relative;
  top: 7px;
}
.footer_topics {
  padding-bottom: 35px;
}
.footer_topics h5 {
  padding: 35px 0 15px;
  text-transform: uppercase;
  color: #00a8a0;
  font-family: 'SegoeBold', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  border-bottom: 1px solid #00a8a0;
}
.footer_topics ul li {
  padding: 5px 0;
  font-size: 12px;
  font-family: 'SegoeRegular', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.footer_topics ul li a {
  color: #5a5a5d;
}
.footer_topics ul li a:hover {
  color: #00a8a0;
}
.footer {
  background: #ffffff;
  border-top: 7px solid #f3f2ee;
  padding-bottom: 15px;
}
.footer .footer_right {
  text-align: right;
}
.footer .footer_right ul.footer_text {
  font-size: 12px;
  float: right;
  padding-top: 15px;
  margin-bottom: 3px;
}
.footer .footer_right ul.footer_text li {
  float: left;
  padding: 0 10px;
  border-right: 1px solid #5a5a5d;
}
.footer .footer_right ul.footer_text li:last-child {
  padding-right: 0;
  border-right: 0;
}
.footer .footer_right ul.footer_text li a {
  color: #26aae1;
}
.footer .footer_right ul.footer_text li a:hover {
  color: #00a8a0;
}
.footer .footer_right .copyright_text p {
  width: 100%;
  float: right;
  font-size: 12px;
  margin-bottom: 3px;
  line-height: 22px;
}
.footer .footer_right .copyright_text p a {
  color: #26aae1;
}
.footer .footer_right .copyright_text p a:hover {
  color: #00a8a0;
}
.checkbox-holder {
  margin: 0 0 15px 0;
}
.checkbox-holder label {
  color: #000000;
  font-weight: 500;
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding: 6px 0 0 30px;
  cursor: pointer;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 7px;
  width: 22px;
  height: 22px;
  border: 2px solid #aaaaaa;
  background: transparent;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "\f00c";
  font-family: FontAwesome;
  font-style: normal;
  position: absolute;
  top: 7px;
  left: 4px;
  font-size: 15px;
  color: #26aae1;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px solid #888888;
}
.button-holder {
  margin: 0 20px 0 0;
}
.button-holder.no_label {
  margin: 0;
  padding: 0;
}
.button-holder.no_label label {
  margin: 0;
  padding: 0;
}
.button-holder.no_label [type="checkbox"]:not(:checked) + label,
.button-holder.no_label [type="checkbox"]:checked + label {
  padding: 0;
  margin: 0;
}
.button-holder.no_label [type="checkbox"]:not(:checked) + label:before,
.button-holder.no_label [type="checkbox"]:checked + label:before {
  top: -14px;
}
.button-holder.no_label [type="checkbox"]:not(:checked) + label:after,
.button-holder.no_label [type="checkbox"]:checked + label:after {
  top: -16px;
}
/* Base for label styling */
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  position: relative;
  padding: 6px 0 0 38px;
  cursor: pointer;
  margin-left: -7px;
}
/* radio aspect */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 6px;
  width: 25px;
  height: 25px;
  border: 2px solid #a6a6a6;
  background: transparent;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
}
/* checked mark aspect */
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 12px;
  transition: all .2s;
  background: #26aae1;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  width: 13px;
  height: 13px;
}
/* checked mark aspect changes */
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="radio"]:disabled:checked + label:after {
  color: #999;
}
[type="radio"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="radio"]:checked:focus + label:before,
[type="radio"]:not(:checked):focus + label:before {
  border: 2px solid #a6a6a6;
}
