//MIXINS -------------------------------------------
//PRIMARY COLOURS
@grayLightest: #f3f2f2;
@grayLighter:#c8c3c2;
@grayLight:#f3f2ee;
@grayMedium:#6d6e70;
@textGrey:#5a5a5d;
@blue: #26aae1;
@blueDark: #17769d;
@blueLight: #9ad8f0;
@white: #ffffff;
@red: #0000FF;
@green: #00a8a0;
@greenMediumDark: #005257;
@greenDark: #022f33;

@themePath: '../';

// OVERRIDE SELECTION COLOURS
::selection {
    background: @red;
    color:#FFFFFF;
}
::-moz-selection {
    background: @red;
    color:#FFFFFF;
}

//BORDER
.border-dashed {
    border-bottom:1px dashed @textGrey;
}
.border-dashed-top {
    border-top:1px dashed @textGrey;
}
.border-dashed-bottom {
    border-bottom:1px dashed @textGrey;
}
.border-dashed-right {
    border-right:1px dashed @textGrey;
}



//FONTS -------------------------------------------
@font-face {
    font-family: 'SegoeLight';
    src: url('/fonts/segoeuil-webfont.eot');
    src: url('/fonts/segoeuil-webfont.eot') format('embedded-opentype'),
    url('/fonts/segoeuil-webfont.woff') format('woff'),
    url('/fonts/segoeuil-webfont.ttf') format('truetype'),
    url('/fonts/segoeuil-webfont.svg#segoe_uiregula') format('svg');
}
@font-face {
    font-family: 'SegoeRegular';
    src: url('/fonts/segoeui-webfont.eot');
    src: url('/fonts/segoeui-webfont.eot') format('embedded-opentype'),
    url('/fonts/segoeui-webfont.woff') format('woff'),
    url('/fonts/segoeui-webfont.ttf') format('truetype'),
    url('/fonts/segoeui-webfont.svg#segoe_uiregula') format('svg');
}
@font-face {
    font-family: 'SegoeBold';
    src: url('/fonts/segoeuib-webfont.eot');
    src: url('/fonts/segoeuib-webfont.eot') format('embedded-opentype'),
    url('/fonts/segoeuib-webfont.woff') format('woff'),
    url('/fonts/segoeuib-webfont.ttf') format('truetype'),
    url('/fonts/segoeuib-webfont.svg#DINOTBold') format('svg');
}
@font-face {
    font-family: 'SegoeItalic';
    src: url('/fonts/segoeuii-webfont.eot');
    src: url('/fonts/segoeuii-webfont.eot') format('embedded-opentype'),
    url('/fonts/segoeuii-webfont.woff') format('woff'),
    url('/fonts/segoeuii-webfont.ttf') format('truetype'),
    url('/fonts/segoeuii-webfont.svg#DINOTBlack') format('svg');
}


/* Border Radius */
.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}
.retina-tile {
    width:100%;
    height:100%;
    .background-size;
}
.background-size {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

//FONTS -------------------------------------------
.segoe-light {
    font-family:'SegoeLight', Arial, Helvetica, sans-serif;
    font-style:normal;
    font-weight:400;
}
.segoe-regular {
    font-family:'SegoeRegular', Arial, Helvetica, sans-serif;
    font-style:normal;
    font-weight:400;
}
.segoe-bold {
    font-family:'SegoeBold', Arial, Helvetica, sans-serif;
    font-style:normal;
    font-weight:400;
}
.segoe-italic {
    font-family:'SegoeItalic', Arial, Helvetica, sans-serif;
    font-style:normal;
    font-weight:400;
}
//TYPOGRAPHY -------------------------------------------
h1 {
    font-size:44px;
    .segoe-light;
}
h2 {
    font-size:30px;
    .segoe-light;
}
h3 {
    font-size:18px;
    .segoe-light;
}
h4 {
    color:@blue;
    .segoe-regular;
    font-size: 18px;
}
h5{
    color:@textGrey;
    .segoe-regular;
    font-size: 13px;
}
strong {
    .segoe-bold;
}

body {
    .segoe-regular;
}
// GLOBAL ----------------------------------------------------------------------------
body, input, textarea, button {
    color:@textGrey;
    font-size:15px;
}
a {
    color: @green;
}
a:hover, a:focus {
    color:@blue + #111;
    text-decoration: none;
}
body, html {
    height:100%;
    min-height: 100%;
    background-size: 100% 100%;
}
.wrapper {
    position:relative;
}
.nopadding {
    padding: 0;
}
.nomargin {
    margin: 0;
}


// BUTTONS -------------------------------------------------------------------
.btn {
    background:@white;
    padding:6px 7px;
    .border-radius(0);
    color:#f1f1f1;
    word-wrap:break-word;
    white-space: normal;
    &:hover, &:active, &:focus {
        color:#ffffff;
    }
    &.btn-small {
        font-size:11px;
    }
    &.btn-medium {
        padding:11px 30px;
    }
    &.btn-large {
        font-size:16px;
        padding:12px 30px;
    }
    &.btn-xlarge {
        padding: 22px 30px;
    }
    &.btn-blueLight {
        background: @blue;
        &:hover {
            background:@blueDark;
        }
    }
    &.btn-green {
        background: @green;
        &:hover {
            background:@greenMediumDark;
        }
    }
    &.btn-beige {
        background: @grayLight;
        color: @green;
        &:hover {
            background:@green;
            color: @grayLight;
        }
    }
}

// FORM ------------------------------------------------------------------------------
.form-control {
    .border-radius(0);
    background:#ffffff;
    box-shadow:none;
    padding:6px 12px;
    &:focus {
        outline: 0;
        background: #f8f8f8;
        border:1px solid #c8c8c8;
        box-shadow:none;
    }
    &.light {
        background:#f4f4f4;
    }
}
.form-inline {
    .form-control {
        width:auto;
    }
}
.form_placeholder {
    position:absolute;
    left:50px;
    top:0px;
    font-size:24px;
}
label {
    font-size:15px;
    .required {
        color:@red;
        font-size:18px;
        line-height:14px;
    }
}
.input-group-addon {
    padding:0;
    border:0;
    background:transparent;
    &.label_addon {
        padding:0 10px 0 0;
        border:0;
        background:transparent;
    }
}
.form-group {
    margin-bottom:20px;
    .form_error_input{
        border:1px solid @red;
    }
}
.form_block {
    background:#f7f7f7;
    padding:30px 30px 20px;
}
label {
    font-weight:normal;
    font-size:15px;
}

form {
    .submit {
        text-align:right;
        margin-top:20px;
        .btn {
            font-size:17px;
            padding:8px 22px;
        }
    }
}
textarea.form-control {
    height:180px;
}


// NAVBAR
.navbar-header {
    position: relative;
    .logo {
        float:left;
        clear: right;
        img{
            margin:55px 0;
        }
    }
    .advanced_search {
        position: absolute;
        right: 31px;
        bottom: 7px;
        color: @textGrey;
        font-size: 14px;
        &:hover {
            color: @green;
        }
    }
}
.navbar-default {
    background-color: @grayLight;
    border-color: @grayLight;
    margin-bottom: 0;
    .navbar-nav {
        > li {
            > a {
                text-transform: uppercase;
                .segoe-regular;
                padding: 15px 29px;
                &:hover {
                    color: @green;
                }
            }
        }
        > .active {
            > a {
                background-color: @grayLight;
                color: @green;
                &:hover {
                    background-color: @grayLight;
                    color: @blue;
                }
            }
        }
        .open {
            > a{
                background-color: @grayLight;
                color: @green;
                &:hover, &:focus {
                    background-color: @grayLight;
                    color: @green;
                }
            }
        }
    }
    .dropdown-menu {
        min-width: 250px;
        .border-radius(0);
        border: 0;
        font-size: 15px;
        padding: 0;
        -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .175);
        box-shadow: 0 0px 0px rgba(0, 0, 0, .175);
        > li {
            > a {
                padding: 9px 25px;
                border-top: 2px solid @grayLight;
                &:hover {
                    background: @green;
                    color: @white;
                }
            }
        }
    }
    .navbar-form {
        .form-group {
            margin-right: -5px;
            ::-webkit-input-placeholder {
                color: @green;
                .segoe-bold;
            }
            :-moz-placeholder {
                color:  @green;
                .segoe-bold;
            }
            ::-moz-placeholder {
                color:  @green;
                .segoe-bold;
            }
            :-ms-input-placeholder {
                color:  @green;.segoe-bold;

            }
        }
        .btn-green {
            width: 36px;
        }
    }
}


// FOOTER

.footer_subscribe {
    background: @grayLight;
    padding: 15px 0;
    .btn-blueLight {
        padding: 0;
        border: 0;
        margin: 0;
        position: relative;
        .text {
            display: inline-block;
            text-align: left;
            height: 55px;
            width: 98%;
            p {
                position: relative;
                top: 15px;
                left: 10px;
                .segoe-bold;
                font-size: 17px;
            }
        }
        .icon {
            background: rgba(266,266,266,0.3);
            height:55px;
            width: 57px;
            position: absolute;
            right: 0;
            i {
                font-size:25px;
                position: relative;
                top: 15px;
            }
        }
    }
    .newsletter_subscribe {
        p {
            color: @green;
            .segoe-bold;
            margin: -2px 0 2px 0;
            font-size: 14px;
        }
        .row {
            .col-xs-8 {
                padding-right: 0;
            }
            .col-xs-4 {
                padding-left: 0;
                .btn-green {
                    height: 34px;
                    .text {
                        .segoe-bold;
                        position: absolute;
                        left: 10px;
                    }
                    .icon {
                        background: rgba(255, 255, 255,0.3);
                        height: 34px;
                        width: 34px;
                        position: absolute;
                        right: 15px;
                        top: 0;
                        i {
                            position: relative;
                            top: 7px;
                        }
                    }
                }
            }
        }
    }
}


.footer_topics {
    padding-bottom: 35px;
    h5 {
        padding: 35px 0 15px;
        text-transform: uppercase;
        color: @green;
        .segoe-bold;
        border-bottom: 1px solid @green;
    }
    ul {
        li {
            padding: 5px 0;
            font-size: 12px;
            .segoe-regular;
            a {
                color: @textGrey;
                &:hover {
                    color: @green;
                }
            }
        }
    }
}

.footer {
    background: @white;
    border-top: 7px solid @grayLight;
    padding-bottom: 15px;
    .footer_right {
        text-align: right;
        ul.footer_text {
            font-size: 12px;
            float: right;
            padding-top: 15px;
            margin-bottom: 3px;
            li {
                float: left;
                padding: 0 10px;
                border-right: 1px solid @textGrey;
                &:last-child {
                    padding-right: 0;
                    border-right: 0;
                }
                a {
                    color: @blue;
                    &:hover {
                        color: @green;
                    }
                }
            }
        }
        .copyright_text {
            p {
                width: 100%;
                float: right;
                font-size: 12px;
                margin-bottom: 3px;
                line-height: 22px;
                a {
                    color: @blue;
                    &:hover {
                        color: @green;
                    }
                }
            }
        }
    }
}

@import "checkbox";
