//MIXINS -------------------------------------------
//PRIMARY COLOURS
@grayLightest: #f3f2f2;
@grayLighter: #c8c3c2;
@grayLight: #f3f2ee;
@grayMedium: #6d6e70;
@textGrey: #5a5a5d;
@blue: #26aae1;
@blueDark: #17769d;
@blueLight: #9ad8f0;
@white: #ffffff;
@green: #00a8a0;
@greenMediumDark: #005257;
@greenDark: #022f33;
@purple: #4c3f7b;
@purpleDark: #8e44ad;
@purpleLight: #9b50ba;
@black: #333333;
@themePath: '../'; // OVERRIDE SELECTION COLOURS
//@@BM
@blueNew: #041D3D;
@textGreyNew: #2F2F2F;
@greenNew: #02837D;

::selection {
  background: @blue;
  color: #FFFFFF;
}

::-moz-selection {
  background: @blue;
  color: #FFFFFF;
}
//BORDER

.border-dashed {
  border-bottom: 1px dashed @textGrey;
}

.border-dashed-top {
  border-top: 1px dashed @textGrey;
}

.border-dashed-bottom {
  border-bottom: 1px dashed @textGrey;
}

.border-dashed-right {
  border-right: 1px dashed @textGrey;
}
//FONTS -------------------------------------------
@font-face {
  font-family: 'SegoeLight';
  src: url("../fonts/segoeuil-webfont.eot");
  src: url("../fonts/segoeuil-webfont.eot") format('embedded-opentype'), url("../fonts/segoeuil-webfont.woff") format('woff'), url("../fonts/segoeuil-webfont.ttf") format('truetype'), url("../fonts/segoeuil-webfont.svg#segoe_uiregula") format('svg');
}
@font-face {
  font-family: 'SegoeRegular';
  src: url("../fonts/segoeui-webfont.eot");
  src: url("../fonts/segoeui-webfont.eot") format('embedded-opentype'), url("../fonts/segoeui-webfont.woff") format('woff'), url("../fonts/segoeui-webfont.ttf") format('truetype'), url("../fonts/segoeui-webfont.svg#segoe_uiregula") format('svg');
}
@font-face {
  font-family: 'SegoeBold';
  src: url("../fonts/segoeuib-webfont.eot");
  src: url("../fonts/segoeuib-webfont.eot") format('embedded-opentype'), url("../fonts/segoeuib-webfont.woff") format('woff'), url("../fonts/segoeuib-webfont.ttf") format('truetype'), url("../fonts/segoeuib-webfont.svg#DINOTBold") format('svg');
}
@font-face {
  font-family: 'SegoeItalic';
  src: url("../fonts/segoeuii-webfont.eot");
  src: url("../fonts/segoeuii-webfont.eot") format('embedded-opentype'), url("../fonts/segoeuii-webfont.woff") format('woff'), url("../fonts/segoeuii-webfont.ttf") format('truetype'), url("../fonts/segoeuii-webfont.svg#DINOTBlack") format('svg');
}
// IMPORTS
@import "custom/global/variables";
@import "custom/scaffolding";
@import "custom/print";
@import "custom/components/article";
@import "custom/components/buttons";
@import "custom/components/breadcrumbs";
@import "custom/components/carousel";
@import "custom/components/footer";
@import "custom/components/form";
@import "custom/components/issue";
@import "custom/components/navbar";
@import "custom/components/panel";
@import "custom/components/pagination";
@import "custom/components/tile";
@import "custom/components/tooltip"; // PAGES
@import "custom/pages/home";
@import "custom/pages/contact-us";
/* Border Radius */
.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.retina-tile {
  width: 100%;
  height: 100%;
  .background-size;
}

.background-size {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
//FONTS -------------------------------------------

.segoe-light {
  font-family: 'SegoeLight', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.segoe-regular {
  font-family: 'SegoeRegular', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.segoe-bold {
  font-family: 'SegoeBold', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.segoe-italic {
  font-family: 'SegoeItalic', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}
//TYPOGRAPHY -------------------------------------------

h1 {
  font-size: 30px;
  .segoe-regular;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
  .segoe-light;
  color: @green;
}

h3 {
  font-size: 23px;
  .segoe-regular;
}

h4 {
  color: @blue;
  .segoe-regular;
  font-size: 20px;
}

h5 {
  color: @textGrey;
  .segoe-bold;
  font-size: 15px;
  text-transform: uppercase;
}

strong {
  .segoe-bold;
}

body {
  .segoe-regular;
}

p {
  .segoe-regular;
  margin: 0 0 15px;
  font-size: 14px;
}

blockquote {
  font-size: 14px;

  p {
    font-size: 14px;
  }

  a {
    font-size: 14px;
  }

  ul li {
    font-size: 14px;
  }
}
// GLOBAL ----------------------------------------------------------------------------

body,
button,
input,
textarea {
  color: @textGrey;
  font-size: 14px;
}

a {
  color: @green;
}

a:focus,
a:hover {
  outline: none;
  color: @blue + #111;
  text-decoration: none;
}

body,
html {
  height: 100%;
  min-height: 100%;
  background-size: 100% 100%;
}

.wrapper {
  position: relative;
}

.nopadding {
  padding: 0;
}

.nomargin {
  margin: 0;
}
// WYSIWYG STYLES

.body_content {
  // LISTS
  ul {
    list-style: none;

    li {
      padding: 5px 0;

      &:before {
        content: '\f105';
        font-family: 'FontAwesome';
        padding-right: 10px;
        margin-left: -15px;
      }
    }
  }

  ol {
    li {
      padding: 5px 0;
    }
  }

  .btn {
    margin-bottom: 5px;
  }

  table {
    width: 100%;

    thead {
      background: @green;
      color: @white;

      tr {
        th {
          padding: 15px;
          .segoe-bold;
          color: @black;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid @green;

        td {
          color: @green;
          .segoe-regular;
          padding: 15px;
        }
      }
    }
  }
}

.team_member {
  .col-xs-4 {
    margin-bottom: 55px;
    min-height: 500px;

    h5 {
      text-transform: initial;
      font-size: 17px;
    }

    h4 {
      font-size: 17px;
      color: @textGrey;
      .segoe-bold;
    }

    img {
      padding: 10px 0;
    }
  }

  &.noimage {
    h5 {
      border-bottom: 1px solid @textGrey;
      padding-bottom: 20px;
    }

    h4 {
      padding-top: 12px;
    }

    .col-xs-4 {
      min-height: 250px;
    }
  }
}

.article_snippet_simple {
  .row {
    padding: 10px 0 0;
    margin-bottom: 15px;
    margin-top: 35px;

    &:hover {
      background: @grayLight;
    }
  }

  .news_content {
    @media(min-width: 768px) {
      padding-right: 55px;
    }

    h5 {
      text-transform: initial;
      font-size: 17px;
    }

    p {
      color: @textGrey;
    }
  }

  .btn-greenDark.outline {
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
      background: @white;
      color: @greenDark;
    }
  }
}

.show_more {
  position: relative;
  width: 100%;
  height: 50px;
  border-top: 2px solid @green;
  display: block;
  margin: 10px 0;

  p {
    position: absolute;
    top: -11px;
    padding: 0 5px;
    background: @white;
    margin-left: 46%;
    color: @green;
  }

  &:hover {
    border-top: 2px solid @blue;

    p {
      color: @blue;
    }
  }
}

.past_issues {
  hr {
    border: 1px solid @green;
  }

  .article_previews .article_row .article_preview .article_preview_body p {
    font-size: 12px;
  }
  .article_previews{
    .article_preview.research{
      .article_preview_under_title{
        padding: 20px 15px 20px 10px;
        min-height: 170px;
      }
      .article_preview_body{
        padding: 0;
        margin-bottom: 15px;
        min-height: 0;
      }
      .article_preview_featured{
        max-height: 80px;
        overflow: hidden;
        -webkit-line-clamp: 3;      
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
    }
  }

  h2 {
    .segoe-regular;
    color: @textGrey;
  }
}

.article_tag_container {
  .article_tags {
    height: 45px;
    overflow: hidden;

    li {
      background: @grayLight;
      display: inline-block;
      margin: 0 0 5px;

      a {
        color: @textGrey;
        padding: 10px 15px;
        display: block;
      }

      &:hover {
        background: @green;

        a {
          color: @white;
        }
      }
    }
  }

  .viewTopics {
    padding: 5px 0;
    display: none;
    margin-bottom: 10px;
  }
}

.full_text_sidebar {
  background: @grayLight;
  padding: 10px;
  margin-bottom: 15px;
  border-bottom: 7px solid @blue;

  ul {
    li {
      margin-bottom: 25px;
      padding-left: 36px;

      &:first-child {
        margin-top: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: @textGrey;
      }
      display: block;
      color: @textGrey;

      &:before {
        content: "\f105";
        font-family: 'FontAwesome';
        background: @white;
        color: @blue;
        font-size: 16px;
        padding: 4px 9px;
        margin-right: -24px;
        position: relative;
        left: -30px;
      }

      &:hover {
        color: @blue;

        &:before {
          color: @white;
          background: @blue;
        }

        a {
          color: @blue;
        }
      }
    }
  }

  h4 {
    margin: 5px 0 25px;
  }

  &#key_points {
    ul li:hover {
      color: @grayMedium;

      &:before {
        background: @white;
        color: @blue;
      }
    }
  }
}

#full_text {
  p {
    :focus {
      outline: none;
    }
  }
}

.advanced_search {
  .advanced_search_form {
    background: @grayLight;
    padding: 25px;
    margin-bottom: 25px;

    .fa-question-circle {
      float: right;
      font-size: 15px;
    }

    .published_date {
      p {
        font-size: 13px;
        margin: 8px 0 0;
      }
    }
  }

  .btn-blue.large {
    margin-bottom: 25px;
    .segoe-bold;
    font-size: 16px;
  }
}
// GRAVITY FORMS

.gform_wrapper {
  .top_label {
    .gfield_label {
      .segoe-regular;
    }
  }

  .gform_footer {
    input[type=submit] {
      background: @green;
      color: @white;
      border: 0;
      padding: 13px 25px;
      .segoe-bold;
      font-size: 16px;
      width: 32%;
      text-transform: uppercase;

      &:hover {
        background: @blue;
      }
    }
  }
}

.gform_wrapper .top_label input.large,
.gform_wrapper .top_label li.gfield.gf_left_third input.large,
.gform_wrapper .top_label li.gfield.gf_left_third input.medium,
.gform_wrapper .top_label li.gfield.gf_left_third select.large,
.gform_wrapper .top_label li.gfield.gf_left_third select.medium,
.gform_wrapper .top_label li.gfield.gf_middle_third input.large,
.gform_wrapper .top_label li.gfield.gf_middle_third input.medium,
.gform_wrapper .top_label li.gfield.gf_middle_third select.large,
.gform_wrapper .top_label li.gfield.gf_middle_third select.medium,
.gform_wrapper .top_label li.gfield.gf_right_third input.large,
.gform_wrapper .top_label li.gfield.gf_right_third input.medium,
.gform_wrapper .top_label li.gfield.gf_right_third select.large,
.gform_wrapper .top_label li.gfield.gf_right_third select.medium,
.gform_wrapper .top_label select.large,
.gform_wrapper .top_label textarea.textarea {
  width: 100%;
}

#pastIssueCsiro {
  height: 660px;
  overflow: hidden;
}

.addthis_sharing_toolbox {
  margin: 15px 0;
  @media(min-width: 768px) {
    text-align: right;
    margin-bottom: 20px;
  }
}
@import "lib/checkbox.less"; // RAPID-10347

.home {
  .left.carousel-control,
  .right.carousel-control {
    display: none !important;
  }
}
// RAPID-10432

body blockquote {
  border-left: 3.75px solid #eee !important;
  border-left-width: 3.75px !important;
}
//themed

.themed {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
  @media (min-width:768px) {
    align-items: center;
    flex-direction: row;
  }

  p {
    font-size: 16px;
    margin: 0;
    flex: 1;
    @media (min-width:768px) {
      font-size: 18px;
    }
  }
}

.flag-themed {
  color: #fff;
  text-transform: uppercase;
  background-color: #00a8a0;
  border-radius: 20px;
  padding: 4px 8px 3px 9px;
  height: 33px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 2.5px;
  font-size: 10px;
  margin-right: 15px;
  //margin-bottom: 10px;
  display: inline-block;
  font-family: Arial,Helvetica,sans-serif;
}

.themed .flag-themed {
  margin-bottom: 7px;
}

.grey-box {
  background: #f3f3f3;
  padding: 30px;
  margin-bottom: 20px;
  border-top: 5px solid pink;
  border-image: repeating-linear-gradient( 90deg, #03a79f, #71c6e8) 10;
}

.slb_data_content .slb_group_status{
  display: none !important;
}

.slb_data_content .slb_data_title {
  margin-top: 10px !important;
  // font-family: 'SegoeRegular', Arial, Helvetica, sans-serif !important;
  // font-size: 18px !important;
  // font-weight: 400 !important;
}

.slb_data_content .slb_data_title h3 {
  font-size: 18px;
  margin-bottom: 20px !important;
}

.slb_data_content .slb_data_title p {
  font-size: 15px;
  margin-bottom: 10px !important;
}


.wp-caption-text{
  padding-top: 5px !important;
}
//@@BM

.row-flex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;
  list-style: none;
  padding-left: 0;
  margin-left: -10px;
  margin-right: -10px;

  &::before, &::after{
   display: none;
}

  & > [class^="col"] {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    padding: 0 10px;
    float:none;

  }

  & > .col-sm-6 {
    @media(min-width: @sm) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  & > .col-lg-3 {
    @media(min-width: @xl) {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }

  & > .col-mylg-4 {
    @media(min-width: @lg) {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  }

  & > .col-lg-4 {
    @media(min-width: @xl) {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  }

  & > .col-lg-8 {
    @media(min-width: @xl) {
      flex: 0 0 66.66666667%;
      max-width: 66.66666667%;
    }
  }

  & > .col-lg-9 {
    @media(min-width: @xl) {
      flex: 0 0 75%;
      max-width: 75%;
    }
  }

  & > .col-md-4 {
    @media(min-width: @md) {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;

    }
  }
}

.container {
  @media (min-width: 1430px) {
    width: 100%;
    max-width: 1400px;
  }
}
